# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb+srv://testUser:devilkumar123@cluster0.ogsfrpj.mongodb.net/BhansaMart_backend

# JWT Secrets & Expiration
JWT_SECRET=bhansamart_super_secret_jwt_key_2026_secure
JWT_EXPIRES_IN=7d

# Password Reset Token Secrets & Expiration
RESET_TOKEN_SECRET=bhansamart_reset_token_secret_2026_secure
RESET_TOKEN_EXPIRES_IN=10m

# OTP Expiration Time
OTP_EXPIRES_IN=10m

# Nodemailer / SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM="BhansaMart" <no-reply@bhansamart.com>

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dfhjvrhmb
CLOUDINARY_API_KEY=728851299422576
CLOUDINARY_API_SECRET=LCVV1WVacLKVOOTSx7HIcjx2I2M

# Frontend Client URL (For Web & CORS)
CLIENT_URL=http://192.168.29.235:8081
